.studentsignupRootRootRoot {
    background-color: #ffffff;
    overflow: hidden;
}
.background {
    height: 668px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 13.13% 27.5% 13.13% 27.43%;
    background-size: cover;
    background-image: url("https://file.rendit.io/n/WEXEW8nMUubKOhiJCqi4.svg");
}
.panel {
    height: 279px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 4.93% 0px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.text1 {
    width: 100%;
    height: 44px;
    align-self: flex-start;
    margin: 0px 0px 5.39% 0px;
    color: #ca8342;
    font-size: 35px;
    font-weight: 700;
    font-family: Montserrat;
    line-height: 44.41500186920166px;
    text-align: center;
}
.text2 {
    width: 46.84%;
    height: 18px;
    align-self: flex-start;
    margin: 0px 0px 2% 17.87%;
    font-size: 15px;
    font-weight: 600;
    font-family: Montserrat;
    white-space: nowrap;
}
.flexColumn {
    width: 64.1%;
    height: 38.5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 17.72% 3.08% 0px;
    border-width: 1px;
    border-radius: 20px;
    border-style: solid;
    border-color: #bdbdbd;
    box-shadow: 0px 5px 25px 0px #02375f;
}
.studentAccount {
    width: 26.56%;
    height: 16px;
    left: 28px;
    top: 11.1px;
    position: absolute;
    font-size: 13px;
    font-weight: 500;
    font-family: Montserrat;
}
.dropshadow {
    width: 100%;
    height: 38.5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-width: 1px;
    border-radius: 20px;
    border-style: solid;
    border-color: #bdbdbd;
    box-shadow: 0px 5px 25px 0px #02375f;
}
.flexColumn1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2.9% 66.59% 2.87% 6.97%;
    background-size: cover;
    background-image: url("https://file.rendit.io/n/N3myx0Nbkfg5EsLVOOIG.svg");
}
.text3 {
    width: 100%;
    height: 16px;
    color: #ca8342;
    font-size: 13px;
    font-weight: 600;
    font-family: Montserrat;
    white-space: nowrap;
}
.flexColumn2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 17.72% 5.41% 0px;
    padding: 1.69% 0px 1.77% 4.31%;
    border-width: 1px;
    border-radius: 20px;
    border-style: solid;
    border-color: #bdbdbd;
    box-shadow: 0px 5px 25px 0px #02375f;
}
.text4 {
    width: 100%;
    height: 16px;
    font-size: 13px;
    font-weight: 500;
    font-family: Montserrat;
}
.text5 {
    width: 34.67%;
    height: 13px;
    margin: 0px 31.59% 0px 0px;
    color: #9e9e9e;
    font-size: 11px;
    font-weight: 500;
    font-family: Montserrat;
    white-space: nowrap;
}
.text6 {
    display: contents;
    color: #38518d;
    font-size: 11px;
    font-weight: 500;
    font-family: Montserrat;
}
.text7 {
    display: contents;
    color: #ca8342;
    font-size: 11px;
    font-weight: 500;
    font-family: Montserrat;
    text-decoration-line: underline;
}
.text8 {
    display: contents;
    color: #9e9e9e;
    font-size: 11px;
    font-weight: 500;
    font-family: Montserrat;
}
.image1 {
    height: 0px;
}
